ody {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1600px; 
    background: #EFEFEF;
}
.parallax-window {
  min-height: 800px;
  background: transparent;
}

/* Общие стили */

.flex {
    display: flex;
    justify-content: space-between;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

}
.styleNav {
    list-style: none;
    padding: 0;
}
.styleLink {
    text-decoration: none;
    margin: 0 10px;
}
.dark {
    color: #EFEFEF;
    background: #3A3A3A;
}
.light {
    color: #3A3A3A; 
    background: #fff;
}
.stars {
    font-size: 12px;
    color: #FCDE7D;
    margin: 0 auto;
    text-align: center;
}
.w80 {
    width: 80%;
}
.w100 {
    width: 100%;
}
.p0 {
    padding: 0;
}
.m0 {
    margin: 0;
}
.h500 {
    height: 500px;
}
.center {
    margin: 0 auto;
}
.sectPosition {
    margin: 30px auto;
    padding-bottom: 30px;
}
.titles {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 30px;
}
.titlesXS {
    text-align: center;
    font-size: 22px;
    margin: 10px auto;
}
.hidden {
    overflow: hidden;
}
.lineH25 {
    line-height: 25px;
}
.inline {
    display: inline-block;
}
.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('img/icon_top.png') no-repeat;
}

/* Частные стили */

/* HEADER */


header {
    height: 63px;
    justify-content: space-around;
}
header img {
     width: 219px;
    height: 118px;
    margin-bottom: -63px;
    z-index: 10;
}
header h4 {
    font-family: 'Cinzel', serif;
    font-weight: 100;
    font-size: 22px;
    padding-left: 25px;
    padding-top: 20px;
    height: 35px;
    margin: 0;

}
header a {
    text-decoration: none;
    background: none;
    color: #EFEFEF;
    border: none;
    font-size: 30px;
    margin-left: 85px;
    padding: 13px 30px;
    transition: 0.5s
}
header a:hover {
    background: #EFEFEF;
    color: #3A3A3A;
    box-shadow: 1px 1px 5px #3A3A3A;
    z-index: 10;
    transition: 0.5s
}
.main {
    overflow: hidden;
    background: url(img/backgroundLight.jpg);
    width: 80%;
}
.main h2:first-child {
    margin-top: 80px;
    margin-bottom: 20px;
}
.main section {
    grid-column-gap: 20px;
    background: none;
    margin-bottom: 100px;
    width: 95%;
}
.suiteRoom, .juniorSuite {
    transition: 0.5s;
}
.suiteRoom:hover, .juniorSuite:hover {
    transform: scale(1.01);
    transition: 0.5s;
    box-shadow: 2px 2px 10px rgba(51, 51, 51, 0.3)
}
.suiteRoom p, .juniorSuite p {
    min-height: 200px;
    padding: 5%;
    text-align: center;
}
.suiteRoom img, .juniorSuite img {
    display: block;
    max-width: 600px;
    width: auto;
    height: auto;
    margin: 20px auto;
}
.star {
    color: #FCDE7D;
}

/* HEADER-END */



/* FOOTER */

footer {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
footer img {
    width: 219px;
    height: 118px;
    margin-top: -63px;
}
footer p {
    height: 20px;
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
}
.footerIcons {
    margin: 20px auto;
}
.footerIcons a  {
    transition: 0.5s;
    position: relative;
}
.footerIcons a:hover {
    transform: scale(1.4);
    transition: 0.5s;
    color: #FCDE7D;
}
.footerIcons a i {
    font-size: 20px;
}

/* FOOTER-END */





/* MOBILE VERSION */


@media screen and (max-width: 1598px) {
    
}

@media screen and (max-width: 1488px) {
   .headerTop {
    width: 90%;
   }
}

@media screen and (max-width: 1320px) {
   .headerTop {
    width: 100%;
   }
}

@media screen and (max-width: 1188px) {
   .headerTop h4 {
    font-size: 18px;
   }
   .navLink {
    font-size: 14px;
   }
   .headerTop h4 {
    display: none;
   }
   .headerTop img {
    width: 110px;
    height: 59px;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    section + .w80 {
        width: 100%;
    }
    header {
        margin-top: 70px;
    }
    .menu {
        flex-direction: column;
        height: 745px;
        width: 100%;
        margin: 0 auto;
    }
    .menu h5 {
        display: block;
        margin: 0 auto;
        margin-top: -100px;
        margin-bottom: 50px;

    }
    .menu ul {
        flex-direction: column;
    }
    .menu img {
        position: relative;
        left: 0;
        margin: 0 auto;
        margin-top: -63px;
    }
    .menu h4 {
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 30px;
    }
    .menu ul {
        margin-top: 0;
        margin-bottom: 200px;
    }
    .navItem {
        margin: 0;
        width: 100%;
    }

    .navLink {
        display: block;
        width: 100%;
        height: 50px;
        margin: 0;
        margin-bottom: -1px;
        padding-top: 15px;
        text-align: center;
        font-size: 26px;
        border-bottom: 1px solid #F3F0EC;
    }
    .navLink:first-child {
        border-top: 1px solid #F3F0EC; 
    }
    .navLink:hover {
        color: #3A3A3A;
        background: #F3F0EC;
    }
    .navLink:hover:after {
        box-shadow: none;
    }
}

